.pied-content {
      color: rgb(56, 15, 8);
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: large;
      font-weight: bolder;
      background-image: url("../assets/image_6483441-2-1024x768.jpg");
      background-blend-mode: darken;
}

button {
      background-repeat: no-repeat;
      width: fit-content;
}

input {
      width: 150px;
}

img {
      width: 20px;
      height: 20px;
      align-items: center;
}

.don {
      align-content: space-between;
}