<div class="wrapper">
  <nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/accueil">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/accueil">Home</a></li>
        <li><a href="actualites">Actualités</a></li>
        <li><a href="galerie">Galerie</a></li>
        <li><a href="contact">Page 3</a></li>
      </ul>
    </div>
  </nav>
  <div class="wrapper-content">
    <router-outlet></router-outlet>
  </div>
  <div class="pied">
    <div class="col col-sm-4 offset-md-4">
      <p>FAIRE UN DON</p>
      <p>Soutenez-nous et changez le cours de la vie d’un enfant dès aujourd'hui!</p>
      <!--button class="btn btn-primary" (click)="open()">Faire un don</button-->
      <!--input type="String" name="sender" [(ngModel)]="sender"-->
      <div class="don">
        <div class="row">
          <div class="col-sm-5 offset-sm-1">
            <input type="number" name="m" [(ngModel)]="montant" ngmo>
          </div>

          <div class="col-sm-5 offset-sm-1">
            <button type="submit" (click)="open()">
              <span>
                <img src="../../assets/din.ico" alt="">
              </span>
              <i class="fas fa-camera"></i>Valider le don
            </button>
          </div>
        </div>

        <br><br>
      </div>

    </div>
    <br>
  </div>
  <div class="row">
    <div class="col col-sm-2 offset-sm-2">© 2022 oditogo</div>
    <div class="col col-sm-2 offset-sm-5">Powered by .......</div>
  </div>
</div>