<div class="row entete">
      <div class="row box">
            <div class="col col-sm-8 offset-sm-2">
                  <br><br><br><br><br><br><br><br>
                  <h3>Parce qu'ensemble, nous pouvons</h3>
                  <h2>------------------</h2>
                  <h1>
                        <p>CONSTRUIRE UN MONDE OÙ TOUS LES JEUNES SONT EN SÉCURITÉ, FORTS ET VALORISÉS</p>

                  </h1>
                  <br><br><br><br><br>
            </div>
      </div>
</div>
<div class="row nous">
      <div class="calque"> calque
            <div class="col-sm-8 offset-sm-2">
                  <p class="titre"><br>QUI SOMMES NOUS
                        <br class="tiret">---------
                  <div class="row">
                        <div class="col-sm-6 info">
                              <p>
                                    L’Association Organisation pour le Développement Inclusif (ODI) est enregistrée le
                                    31
                                    avril 2020 sous le numéro 232 au Ministère de l’Administration Territoriale et de la
                                    Décentralisation.
                              </p>
                              <p>
                                    ODI est composée de quatre (04) catégories de membres notamment fondateurs, actifs,
                                    sympathisants et d’honneur
                              </p>
                              <p>
                                    Le but principal de ODI TOGO est de contribuer à l’amélioration des conditions de
                                    vie
                                    socioéconomique et culturelle des populations à la base dans une démarche de
                                    développement
                                    humain durable et inclusif.
                              </p>
                        </div>
                        <div class="col-sm-6">
                              <div class="row">
                                    <img src="../../assets/journal.jpg" alt="img-fluid">
                              </div><br><br><br>
                        </div>

                  </div>
            </div>
      </div>
</div>
<div class="row">
      <p style="color: rgb(127,128,255); align-items: stretch;"> DOMAINES D’INTERVENTION DE ODI</p>
      <div class="col-sm-10 offset-sm-1">
            <div class="row center-content-between domaine">
                  <div class="col-sm-4 ms-auto">
                        <p>01. <br> <i> — Education</i></p>
                        <img src="../../assets/oditgEdu2.png" class="img-fluid" alt="responsive image">
                  </div>
                  <div class="col-sm-4 ms-auto">
                        <p> 02. <br><i> — Santé</i></p>
                        <img src="../../assets/oditgSante1.png" class="img-fluid" alt="responsive image">
                  </div>
                  <div class="col-sm-4 ms-auto">
                        <p>03. <br><i> — Entrepreunariat</i></p>
                        <br />
                        <img src="../../assets/oditgEntre2.png" class="img-fluid" alt="responsive image">
                  </div>
                  <div class="col-sm-4 ms-auto">
                        <br>04.<br><i> — Culture </i><br>
                        <img src="../../assets/oditgCult2.png" class="img-fluid" alt="responsive image">
                  </div>
                  <div class="col-sm-4 ms-auto">
                        <br>05.<br><i> — Agriculture & Elevage</i><br />
                        <img src="../../assets/oditgElevage1.png" class="img-thumbnail" alt="responsive image">
                  </div>
                  <div class="col-sm-4 ms-auto">
                        <br>06.<br><i> — Environnement</i><br />
                        <img src="../../assets/oditgEnvi1.png" class="img-thumbnail" alt="responsive image">
                  </div>
            </div>
      </div>

</div>